.countryContainer {
    display: flex;
    flex-direction: column; /* Display children in a column */
    align-items: center; /* Center items horizontally */
    padding-top: 30px;
    height: 400px;
    padding: 20px;
}

.flag-and-name {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add some space between the flag and the country name */
}

.countryContainer-main-img {
    width: 280px; /* Adjust the width of the flag */
    height: 80px; /* Maintain aspect ratio */
    margin-right: 20px; /* Add space between flag and name */
    padding-left: 250px;
}

.country-name {
    font-size: 54px; /* Set the font size for the country name */
    font-weight: 700;
}

.country-info {
    font-size: 28px; /* Set the font size for other information */
    align-items: flex-start;
    width: 50%;
}




.country-info table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .country-info th, .country-info td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .country-info th {
    background-color: #f2f2f2;
  }
  .hero-landing-page{
/* 
    text-align: center;
    padding: 50px; */
  }

