/* Footer.css */

.footer {
    background-color: rgba(255, 255, 255, 0.9); /* White with 90% transparency */
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 -0.5px 0 0 rgb(165, 164, 164);

  }
  
  .footer-social-icons {
    display: flex;
    justify-content: center;
  }
  
  .footer-icons-container {
    margin: 0 10px;
  }
  
  .footer-icons-container img {
    width: 30px; /* Adjust the size of your social icons as needed */
    height: 30px;
    border-radius: 50%; /* Make the icons circular */
    background-color: #ccc; /* Grey background for icons */
    padding: 5px; /* Add padding for a better look */
  }
  
  .footer-copyright {
    margin-top: 15px;
    color: #666; /* Grey text color */
    font-size: 14px;
  }
  
  .footer-copyright p {
    margin: 0;
  }
  












/* .footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-shadow: 0 -0.5px 0 0 rgb(165, 164, 164);
    margin-top: 50px;
}
 
 
.footer-links {
   display: flex;
   list-style-type: none;
   gap: 50px;
   color: #252525;
    font-size: 20px;

}
.footer-links li {
    cursor: pointer;
}
.footer-social-icons{
    display: flex;
    gap: 20px;
    padding-top: 20px;

}
.footer-icons-container{
   padding: 10px; 
   padding-bottom: 6px;
   background: #fbfbfb;
   border: 1px solid #ebebeb;
}
.footer-copyright{
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
width: 100%;
margin-bottom: 30px;
color: #1a1a1a;
font-size: 20px;



}
.footer-copyright hr{

    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;

} */
