
 .navbar{

    display: flex;
    justify-content: space-around;
     /* padding: 50 px; */
     box-shadow: 0 1px 3px -2px black;
    
     height: 100px;
}
.nav-logo{
display: flex;
align-items: center;
gap: 80px;
}
.nav-logo h1{
cursor: pointer;
    
}

  .nav-view-all button{


    
    appearance: none;
    background-color: transparent;
    border: 1px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #001f3f;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  margin-top:5% ;
    margin-right: 10%;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
 
   
  
  .nav-view-all button:disabled {
    pointer-events: none;
  }
  
  .nav-view-all button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .nav-view-all button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  

@media only screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
   
  } 