.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Search Input */
.searchInput {
  display: inline-block;  
  align-items: center;
  z-index: 2;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 50%;
  background: #fff;
  color: grey;  
  font-family: inherit;  
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
}

/* Search Button */
.searchButton {
  display: inline-block;  
  width: 15%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;  
  cursor: pointer;
}
 
.searchButton:hover {
  background: #c53a03;
}

.searchContainer {
  display: flex;  
  justify-content: center;  
  align-items: center;  
    
  background-color: #f0f0f0;  
  height: 80px;  
  
 
  padding: 50px;
  border-radius: 5px;  
  width: 90%;
    background: linear-gradient(150deg, #12C2E9, #F64F59 100%);

}
.container-main{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}