.countryContainer{
    display: flex;
    margin: 0px;
    margin-left: 45px;
    padding-top: 30px;
}
.countryContainer-left{
    display: flex;
    gap: 70px;
}
 
.countryContainer-main-img{
width: 900px;
height: 550px;

}
.countryContainer-right{
    margin: 0px 150px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(150deg, #ac95a6, #9b91b9 100%);
    width: 500px;


    box-sizing: border-box;
    padding: 2em;
    font-weight: 600;
    border-radius: 25px;
    color: white;
   
    box-shadow: 5px 5px 10px #ccc;
    float: left;
 
}
.countryContainer-right h1{

    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.country-landlocked {
    color: #818181;
    text-decoration: line-through;

}
.coutry-capitalcity{
    /* //color: #ff4141; */

}

